html {
    scroll-behavior: smooth;
    
  }

body {
    overflow-x: hidden;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
  
    background-color: rgb(120, 126, 126);
    }

    header {
        display: flex;
        width: 1440px;
        height: 90px;
        background: #0C0C0E;
    }

    main {
        display: flex;
        justify-content: space-between;
        width: 1440px;
        height: 1600px;
        background: #ffffff;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1440px;
        height: 100px;
        background: #0C0C0E;
       
    }

    .CV {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        color: #FFFFFF;
        width: 150px;
        font-weight: 400;
       

    }

    .CV:hover {
        color: #5b5c5c;
        cursor: pointer;
        transition: all .5s ease;

    }

    .a2 {
        text-decoration: none;
        color: #FFFFFF;
    }

    .a2:hover {
        color: #5b5c5c;
        cursor: pointer;
        transition: all .5s ease;

    }

    .headermenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1440px;
        height: 90px;

    }

    nav {
   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 584px;
        height: 90px;
        
        
       
        
    }
    
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none; 
        color: #FFFFFF;
        height: 90px;
        font-weight: 400;
       font-size: 20px;
       line-height: 50px;
       margin: 0;
       padding: 0%;
       
        }
    

    .a1 {
        text-decoration: none;
        color: #FFFFFF;
        
        
    }

    .a1:hover {
        color: #5b5c5c;
       
        
        transition: all .5s ease;
    }

    .section1 {
        display: flex;
        width: 496px;
      
        background: #ffffff;
    }

    .Education {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
       
        align-items: baseline;
        background: #ffffff;
        font-size: 1.5rem;

    }


    .Description {
        display: flex;
        flex-direction: column;
        
        
    }

    .section2 {
        display: flex;
        align-items: center;
        width: 924px;
        
        background: #ffffff;
        font-size: 2rem;
        margin: 0;
        
    }

    .section3 {
        display: flex;
        flex-direction: column;
        width: 924px;
        
        background: #ffffff;
        font-size: 1.5rem;
        
      
    }

    .section4 {
        display: flex;
        flex-direction: column;
        width: 924px;
      
        background: #ffffff;
        font-size: 1.5rem;
      
    }
    .Code {
        font-size: 1rem;
    }

    .section5 {
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: b;
        width: 317px;
        align-items: baseline;
        background: #ffffff;
        font-size: 1.5rem;
       
    }
    .section6 {
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: break-word;
        width: 924px;
        align-items: baseline;
        background: #ffffff;
        font-size: 1.5rem;
       
    }

    .section7
    {
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-wrap: break-word;
        width: 475px;
       
        background: #ffffff;
        font-size: 1.5rem;
    }

    .year {
        display: flex;
        font-size: 1.5rem;
        font-weight: 800;
        text-decoration: none;
        color: #FFFFFF;
    }

    .year:hover {
        transition: all .6s ease;
        color: #5b5c5c;
       
 
    }

   